<div *ngIf="playlists" class="sidenav">
  <a class="greentext" (click)="playlistClicked({id: 'myLibrary', name: 'My Library'})">My Library</a>
  <a class="greentext" (click)="searchClicked()">Search Songs</a>
  <a><button onclick="document.getElementById('namePlaylistModal').style.display='block'" class="btn btn-dark">Add New Playlist</button></a>
  <a (click)="playlistClicked(item)" *ngFor="let item of playlists.items">{{item.name}}</a>
</div>

<div id="namePlaylistModal" class="modal">
  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('namePlaylistModal').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="uname"><b>Please name your new playlist</b></label>
      <input (input)="playlistName=$event.target.value" type="text" class="form-control">
      <button (click)="getPlaylistName()" class="modalbtn" type="submit">Submit</button>
    </div>
  </form>
</div>

