.card{
  max-width: 100%;
  height: 100%;
  background-color: black;
}

.command-bar {
  display:flex;
  justify-content: space-between;
  background-color: #231F20;
}

h4 {
  margin-left: 1%;
  color: rgb(255, 255, 255);
}

.list-group-item {
  background-color: rgb(6, 194, 69);

  display:flex;
  justify-content: space-between;
  flex-direction: row;
}

.list-group-item:hover {
  background-color: rgb(63, 207, 111);
}

.form-control {
  align-self: center;
  height:100%;
}

h4 {
  padding-left: 10px;
  padding-right: 10px;
}

.list-group{
  overflow: scroll;
  overflow-x: hidden;
  height:90vh;
}

.playlist-detail {
  width: 500;
}

.button-list{
  padding-left: 10px;
  display:flex;
  flex-direction: row;
}

.songtext{
  display:inline;
  margin:0px;
  padding:0px;
}

.italic{
  font-style: italic;
}