.card{
  max-width: 100%;
  height: 100%;
  background-color: black;
}

.command-bar {
  display:flex;
  justify-content: space-between;
  background-color: #231F20;
}

h4 {
  margin-left: 1%;
  color: rgb(255, 255, 255);
}

.list-group-item {
  background-color: rgb(230, 177, 33);

  display:flex;
  justify-content: space-between;
  flex-direction: row;
}

.list-group-item:hover {
  background-color: rgb(255, 196, 45);
}

.playlist-detail {
  width: 500;
}