<p>playlists-detail works!</p>
<div class="row">
    <div class="column" style="background-color:#aaa;">
      <h2>Playlist Name</h2>
      <button class="button">Song 1</button>
      <br>
      <button class="button">Song 2</button>
      <br>
      <button class="button">Song 3</button>
      <br>
      <button class="button">Song 4</button>
      <br>
      <button class="button">Song 5</button>
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
    </div>
    
  </div>