<div class="card playlist-detail" *ngIf="playlistData" >
  <div class="command-bar">
      <h4>Songs for {{name}}</h4>
      <div class="button-list">
        <button class="btn btn-primary" (click)="ngOnInit()"><i class="fa fa-refresh"></i></button>
        <button class="btn btn-danger" (click)="closeThis()"><i class="fa fa-close"></i></button>
      </div>
  </div>
  
  <ul class="list-group" droppable [dropEnabled]='editable' (onDrop)="onItemDrop($event)">
    <li [id]="item.track.name" draggable [dragData]="item" class="list-group-item" *ngFor="let item of playlistDataItems; let i = index">
      <span class="songtext">{{item.track.name}} <span class="songtext italic">{{item.track.artists[0].name}}</span></span>
      <button class="btn btn-light" (click)="deleteSong(i)" *ngIf='editable'><i class="fa fa-close"></i></button>
    </li>
    <li *ngIf="playlistIncomplete" class="list-group-item"><button class="btn btn-primary" (click)="loadMoreSongs()">Load More Songs</button></li>
    <li *ngIf="playlistDataItems.length === 0" class="list-group-item">Oh no! You have no songs in this playlist!</li>
  </ul>
</div>
