<div class="card playlist-detail" *ngIf="playlistData">
  <div class="command-bar">
      <h4>Songs for {{name}}</h4>
      <button class="btn btn-danger" (click)="closeThis()"><i class="fa fa-close"></i></button>
  </div>
  
  <ul class="list-group" droppable [dropEnabled]='editable' (onDrop)="onItemDrop($event)">
    <li draggable [dragData]="item" class="list-group-item" *ngFor="let item of playlistDataItems; let i = index">
      {{item.track.name}}
      <button class="btn btn-light" (click)="deleteSong(i)" *ngIf='editable'><i class="fa fa-close"></i></button>
    </li>
    
  </ul>
</div>
