<p>home works!</p>
<div class="main">
 
<br><br>
  <div class="banner">
    <h2>Welcome!</h2>
    <p>This is a spotiyfy playlist managing application. Please sign in to begin.</p>
  </div>
<br><br>

<div class="banner">
  <p>Once you have signed in use the plalist tab above to navigate to the playlist managing screen.</p>
  <p>From there you can add, delete, and even rearrange songs in any playlist that you own.</p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>