.pretty-button {
    width: 300px;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .pretty-button:hover {
    background-color: #f1f1f1;
  }

  /* You can add global styles to this file, and also import other style files */
.button {
  width: 300px;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}

 .column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%; 
}

.main {
  background-image: url('../images/img3.jpg');
  background-repeat: no-repeat;
  height: 1000px;

  width: 100%;
}

.banner {
  float: none;
  background-color: rgba(5, 152, 5 , .9);
  width: 50%;
  padding: 10px;
  height: fit-content;
  margin-left: 25%;
  text-align: center;
}

.whitetext {
  color: white;
  font-weight: bold;
  opacity: 100%;
}
