.pretty-button {
    width: 300px;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .pretty-button:hover {
    background-color: #f1f1f1;
  }

  /* You can add global styles to this file, and also import other style files */
.button {
  width: 300px;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}

 .column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%; 
}

.main {
  background-image: url('../images/img3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  margin-left: 5%;
}

.banner {
  float: none;
  opacity: 80%;
  width: 70%;
  padding: 10px;
  height: 50%;
  margin-left: 15%;
  text-align: center;
  background-color: rgba(222, 184, 135, 0.800);
}

.whitetext {
  color: white;
}